.clear-btn {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    flex: 1;
    outline: 1px solid #888;
    background-color: #44ff66;
    color: black;
    font-weight: bold;
    border: none;
}